@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: #018231;
        /* ... */
    }
}
.active {
    color: #000000;
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
li {
    list-style-type: none;
    cursor: pointer;
}
a {
    cursor: pointer;
    text-decoration: none;
}
i {
    cursor: pointer;
}
input {
    outline: none;
}
button {
    outline: none;
}
.backgroundBtn {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fd6e1d), to(#f59000));
}
.no-spin::-webkit-outer-spin-button,
.no-spin::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.imageHover:hover > .activeImage1 {
    opacity: 0;
}
.imageHover:hover > .activeImage2 {
    opacity: 100;
}
.imageHover:hover > .activePreview {
    transform: translateY(0);
}
.lds-dual-ring {
    z-index: 9999;
    height: 80px;
    position: fixed;
    top: 50%;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lds-dual-ring:after {
    content: ' ';
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #07bc0c;
    border-color: #07bc0c transparent #07bc0c transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
